.infoCard {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 50px;
  z-index: 500;
  width: 400px;
  height: 100%;
  margin-left: 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

.infoCard::-webkit-scrollbar {
  width: 8px;
}

.infoCard::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

.infoCard::-webkit-scrollbar-track {
  background-color: #eee;
}

.banner {
  position: relative;
  height: 240px;
}

.SearchBar {
  position: absolute;
  left: 50%;
  z-index: 500;
  width: 450px;
  margin-left: -225px;
  margin-top: 5px;
  background-color: transparent;
}