:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.main-content {
  height: 100%;
  flex-grow: 1;
  padding-left: 50px;
}

@media screen and (max-width: 500px) {
  .main-content {
    padding-left: 0;
  }
}