.navbar {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 100%;
  border-right: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.bottomNav {
  position: absolute;
  bottom: 0;
}

.link {
  width: rem(50px);
  height: rem(50px);
  border-radius: var(--mantine-radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
  }

  &[data-active] {

    &,
    &:hover {
      background-color: var(--mantine-color-blue-light);
      color: var(--mantine-color-blue-light-color);
    }
  }
}

.languagePanel {
  position: absolute;
  bottom: 0;
  left: 50px;
  width: 150px;
  height: 120px;
  background-color: transparent;
  z-index: 600;
  padding: 0;
}